version: '3'
services:
  jupyter:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - 8888:8888
    volumes:
      - ./notebooks:/home/jovyan/
      - ~/data:/home/jovyan/data/
      - .:/src/experanto